nltk>=3.9.0
azure-identity==1.21.0
azure-mgmt-loganalytics==12.0.0
azure-monitor-query==1.4.1
confluent-kafka==2.5.0
elasticsearch==8.17.2
fastapi==0.115.12
Flask==3.0.3
#Flask-Cors==4.0.1
Flask-Cors>=6.0.0
Flask-PyMongo==2.3.0
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-appengine-logging==1.6.1
google-cloud-core==2.4.3
google-cloud-iam==2.18.3
google-cloud-logging==3.11.4
google-cloud-pubsub==2.15.0
google-cloud-resource-manager==1.14.2
google-cloud-storage==3.1.0
grpc-google-iam-v1==0.14.2
grpcio==1.60.1
grpcio-status==1.60.1
#guardrails-ai==0.5.15
#guardrails-api-client==0.3.13
guardrails_hub_types==0.0.4
httpx==0.27.2
ipinfo==5.1.1
langchain==0.3.24
langchain-community==0.3.22
langchain-openai==0.3.14
langchain-core==0.3.56
langchain-google-genai==2.0.10
langgraph==0.3.34
langchain-text-splitters==0.3.8
openai==1.76.0
google-generativeai==0.8.4
openpyxl==3.1.5
opensearch-py==2.8.0
pandas==2.2.3
pydantic==2.11.2
pydantic-settings==2.8.1
pydantic_core==2.33.1
pymongo==4.10.1
pytest==8.1.1
python-dotenv==1.1.0
redis==5.2.1
#requests==2.32.3
requests>=2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
beautifulsoup4==4.12.3
splunk-sdk==2.1.0
tiktoken==0.8.0
tokenizers==0.21.0
uvicorn==0.34.0
instructor==1.8.0
crowdstrike-falconpy==1.5.3
jira==3.8.0
